<!DOCTYPE html>
<html>
  <head>
    <title>Marshesgolfv6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 
    <body>

      <%= render 'layouts/navbar'  %>



        <div id="main-container" class="container-fluid" >
            <%= yield %>
        </div>
        

    </body>

      <%= render 'layouts/footer'  %>







</html>
